<section class="contact">
  <h1 class="mb-3 fs-1 fw-bolder text-center mt-5 pt-5">CONATCT COMPONENT</h1>
  <h6 class=""><i class="fa-solid fa-star "></i></h6>

  <div class="iputs form-center ">
    <div class="container">
      <div class="row">
        <input type="email" class="form-control w-75  mx-5  my-3 " id="exampleFormControlInput1" placeholder="UserName">
        <input type="email" class="form-control w-75  mx-5  my-3 " id="exampleFormControlInput1" placeholder="UserAge">
        <input type="email" class="form-control w-75  mx-5  my-3  " id="exampleFormControlInput1" placeholder="UserEmail">
        <input type="email" class="form-control w-75  mx-5  my-3 " id="exampleFormControlInput1"placeholder="UserPassowrd">


      </div>

      <button type="button" class="btn btn-success mx-4 ">Send Message</button>
    </div>
  </div>

</section>
<div class="description text-white mt-4 ">
  <div class="container ">
    <div class="row">
      <div class="col-lg-4  text-center my-5 py-5">
        <div>
          <h3>LOCATION</h3>
          <p>2215 John Daniel Drive</p>
          <p>Clark, MO 65243</p>
        </div>
      </div>
      <div class="col-lg-4 text-center my-5  py-5">
        <div>
          <h3>AROUND THE WEB</h3>
          <div class="row">
            <div class="icons d-flex  ">
              <i class="fa-brands fa-facebook"></i>
            </div>
            <div class="icons d-flex  ">
              <i class="fa-brands fa-twitter"></i>
            </div>
            <div class="icons d-flex  ">
              <i class="fa-brands fa-linkedin"></i>
            </div>
            <div class="icons d-flex  ">
              <i class="fa-solid fa-globe"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4  my-5 text-center  py-5">
        <h3>
          ABOUT FREELANCER</h3>
        <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <p>Copyright © Angular 2023</p>
</div>
