<section class="portfolio mt-5 pt-5 ">
  <h1 class="mb-3 fs-1 fw-bolder text-center py-1">PORTFOLIO COMPONENT</h1>
  <h6 class=""><i class="fa-solid fa-star "></i></h6>

  <div class="container">
    <div class="row">
      <div class="col-lg-4 g-5 ">
        <img src="../../assets/img/poert1.png" class="w-100 rounded" alt="">
      </div>
      <div class="col-lg-4 g-5">
        <img src="../../assets/img/port2.png" class="w-100 rounded" alt="">
      </div>
      <div class="col-lg-4 g-5">
        <img src="../../assets/img/port3.png" class="w-100 rounded" alt="">
      </div>
      <div class="col-lg-4 g-5">
        <img src="../../assets/img/port3.png" class="w-100 rounded" alt="">
      </div>
      <div class="col-lg-4 g-5">
        <img src="../../assets/img/port2.png" class="w-100 rounded" alt="">
      </div>
      <div class="col-lg-4 g-5">
        <img src="../../assets/img/poert1.png" class="w-100 rounded" alt="">
      </div>
    </div>
  </div>
</section>
<div class="description text-white mt-4 ">
  <div class="container ">
    <div class="row">
      <div class="col-lg-4  text-center my-5 py-5">
        <div>
          <h3>LOCATION</h3>
          <p>2215 John Daniel Drive</p>
          <p>Clark, MO 65243</p>
        </div>
      </div>
      <div class="col-lg-4 text-center my-5  py-5">
        <div>
          <h3>AROUND THE WEB</h3>
          <div class="row">
            <div class="icons d-flex  ">
              <i class="fa-brands fa-facebook"></i>
            </div>
            <div class="icons d-flex  ">
              <i class="fa-brands fa-twitter"></i>
            </div>
            <div class="icons d-flex  ">
              <i class="fa-brands fa-linkedin"></i>
            </div>
            <div class="icons d-flex  ">
              <i class="fa-solid fa-globe"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4  my-5 text-center  py-5">
        <h3>
          ABOUT FREELANCER</h3>
        <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <p>Copyright © Angular 2023</p>
</div>
